/* style.css */

#flowfield_canvas{
  width: 100%;
  height: 600px; 

  margin: 0;
  padding: 0;
}

#someotherdemo_canvas{
  width: 100%;
  height: 600px; 

  margin: 0;
  padding: 0;

  background-color: blue;
}